.unclickable {
  pointer-events: none;
}
#player-div {
  margin-top: 2vh;
  width: 100%;
  height: 45vh;
  border-radius: 8px;
  background-size: 100% 100%;
  background: url('data:image/svg+xml,<svg viewBox="0 0 353 338" fill="%230074AB" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M195 1.00003L327 1.00003C340.807 1.00003 352 12.1929 352 26L352 312C352 325.807 340.807 337 327 337L26 337C12.1929 337 0.999979 325.807 0.99998 312L0.999993 85.5C0.999994 71.6929 12.1929 60.5 26 60.5L145 60.5C158.807 60.5 170 49.3071 170 35.5L170 26C170 12.1929 181.193 1.00002 195 1.00003Z" stroke="white"/></svg>');
  position: relative;
}
/* fill="%230074AB" */
/* class="LKKneJCVRLbYQrEtNZ8g" */
.spinning-album {
  width: 50%;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 50%;
  border: solid white 1px;
}

#embed-iframe {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.play-control {
  background: url('data:image/svg+xml,<svg viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M12.3231 6H10.5C5.80558 6 2 9.80558 2 14.5V14.5C2 19.1944 5.80558 23 10.5 23H37.5C42.1944 23 46 19.1944 46 14.5V14.5C46 9.80558 42.1944 6 37.5 6H27.5538" stroke="%23FEFFFF" stroke-width="2.99353"/><path d="M28 0L18 5.57968L28 11V0Z" fill="%23FEFFFF"/></svg>');
}

#spotify-player {
  width: 100vw;
  height: 30vh;
}
