<h2>Player</h2>
<script
  src="https://open.spotify.com/embed-podcast/iframe-api/v1"
  async
></script>
<div *ngIf="trackList != null" id="player">
  <div [className]="userInfo.email != roomInfo.ownerEmail ? 'unclickable' : ''">
    <div id="embed-iframe"></div>
    <table>
      <tr *ngIf="userInfo.email == roomInfo.ownerEmail">
        <td>
          <button type="button" (click)="onTogglePlay()">
            {{ playerStatus == "Play" ? "Play" : "Pause" }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
