<!-- <form [formGroup]="addTrackForm" (submit)="addTrack()">
  <table>
    <tr>
      <td>Track Uri:</td>
      <td><input type="text" formControlName="trackUri" size="40" /></td>
      <td><button type="submit">Add</button></td>
    </tr>
  </table>
</form> -->
<form [formGroup]="searchForm" (submit)="searchSpotifyAPI()">
  <table>
    <tr>
      <td>
        <input
          type="text"
          pInputText
          formControlName="query"
          class="input-query"
          placeholder="Search Query"
        />
      </td>
      <td>
        <button
          pButton
          class="p-button-rounded small-button"
          style="height: 30px"
        >
          <p class="font-20">Search</p>
        </button>
      </td>
    </tr>
  </table>
</form>
<table *ngIf="searchResults != null">
  <tr *ngFor="let res of searchResults; index as i" (click)="addTrack(res)">
    <td><img [src]="res.album.images[0].url" height="100" /></td>
    <td>{{ res.name }}</td>
    <td>{{ res.artists[0].name }}</td>
  </tr>
</table>
