<!-- <form [formGroup]="addTrackForm" (submit)="addTrack()">
  <table>
    <tr>
      <td>Track Uri:</td>
      <td><input type="text" formControlName="trackUri" size="40" /></td>
      <td><button type="submit">Add</button></td>
    </tr>
  </table>
</form> -->
<form [formGroup]="searchForm" (submit)="searchSpotifyAPI()">
  <table>
    <tr>
      <td>Query:</td>
      <td><input type="text" formControlName="query" size="40" /></td>
      <td><button type="submit">Search</button></td>
    </tr>
  </table>
</form>
<table *ngIf="searchResults != null">
  <tr *ngFor="let res of searchResults; index as i" (click)="addTrack(res.id)">
    <td><img [src]="res.album.images[0].url" height="100" /></td>
    <td>{{ res.name }}</td>
    <td>{{ res.artists[0].name }}</td>
  </tr>
</table>
