<p-menubar styleClass="top-menu">
  <ng-template pTemplate="start" styleClass=""
    ><p class="font-24" style="color: #ffffff">listening_room</p></ng-template
  >
  <ng-template pTemplate="end">
    <button
      pButton
      class="p-button-rounded small-button"
      style="background-color: #d9d9d9; border: 0; color: #474747"
    >
      <p class="font-12">Logout</p>
    </button>
    <!-- <p-button
      styleClass=""
      label="Logout"
      styleClass="logout-button"
    ></p-button> -->
  </ng-template>
</p-menubar>
<div class="fixed bottom-0 bottomMenu">
  <app-bottom-tab-menu></app-bottom-tab-menu>
</div>
<router-outlet></router-outlet>
