<p class="font-24" style="display: flex">Edit User</p>
<form
  [formGroup]="userForm"
  *ngIf="userInfo != null"
  (ngSubmit)="updateProfile()"
>
  <table>
    <tr>
      <td>
        <div class="flex flex-column gap-2">
          <label htmlFor="username">Username</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            style="border-radius: 25px"
          />
        </div>
      </td>
    </tr>
    <br />
    <tr>
      <div class="flex flex-column gap-2">
        <td>Profile Image</td>
        <td>
          <input
            hidden
            type="file"
            #file
            accept="image/*"
            formControlName="picture"
          />
        </td>
        <img
          [src]="userInfo.picture"
          (click)="file.click()"
          id="imgupload"
          style="border-radius: 50%; width: 50%; height: 50%"
        />
      </div>
    </tr>
    <br />
    <tr>
      <td>
        <div class="flex flex-column gap-2">
          <label htmlFor="username">Bio</label>
          <textarea
            pInputTextarea
            formControlName="bio"
            cols="40"
            rows="6"
          ></textarea>
        </div>
      </td>
    </tr>
    <br />

    <tr>
      <td>
        <div class="flex flex-row-reverse">
          <button type="submit" pButton class="p-button-rounded small-button">
            <p class="font-20">Update</p>
          </button>
        </div>
      </td>
    </tr>
  </table>
</form>
<!-- <div class="absolute bottom-0 mb-2">
  <button
    type="button"
    pButton
    class="p-button-outlined p-button-rounded small-button"
    (click)="backToLobby()"
  >
    Back(replace with << icon)
  </button>
</div> -->
