.profile-img {
  height: 100px;
  width: 100px;
  max-width: 150px;
  border-radius: 50%;
}
.profile-pic-div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.user-info-div {
  display: flex;
  align-items: center;
}
.track-img {
  border-radius: 50px;
}
.playlist {
  display: inline-grid;
  overflow-y: hidden;
  height: 280px;
  width: 100%;
}
.playlist:hover {
  height: 280px;
  width: 100%;
  overflow-y: scroll;
  display: inline-grid;
}
.playlist:hover::-webkit-scrollbar {
  display: none;
}
