<div *ngIf="userInfo != null">
  <!-- <p-accordion>
    <p-accordionTab> -->
  <!-- <ng-template pTemplate="header"
        >Welcome Back, {{ userInfo.name }}</ng-template
      > -->
  <div class="grid">
    <div class="col-5">
      <img class="profile-pic-div" [src]="userInfo.picture" />
    </div>
    <div class="col-7 relative user-info-div">
      <p class="font-20">{{ userInfo.email }}</p>
    </div>
  </div>
  <div class="grid">
    <div class="col-5">
      <p class="font-12" style="margin-left: 10vw">Username</p>
    </div>
    <div class="col-7">
      <p class="font-12">{{ userInfo.name }}</p>
    </div>
  </div>
  <div class="grid">
    <div class="col-5">
      <p class="font-12" style="margin-left: 10vw">Bio</p>
    </div>
    <div class="col-7">
      <p class="font-12">{{ userInfo.bio }}</p>
    </div>
  </div>
  <hr style="width: 80%" />
</div>
