.room-list-div {
  padding-top: 5px;
  width: 373px;
  height: 700px;
  border-radius: 8px;
  background-size: 100% 100%;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 353 701" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M112 1.00002L26 1.00003C12.1929 1.00003 1 12.1929 1 26L0.999998 675C0.999999 688.807 12.1929 700 26 700L327 700C340.807 700 352 688.807 352 675L352 81C352 67.1929 340.807 56 327 56L162 56C148.193 56 137 44.8071 137 31L137 26C137 12.1929 125.807 1.00002 112 1.00002Z" fill="%23A4A4A4" stroke="white"/></svg>');
}

.add-room-button {
  display: flex;
  height: 100%;
  justify-content: end;
  margin: auto 0;
}

.descriptionimg {
  width: 150px;
  height: 150px;
  padding: 0;
}
