<div class="room-chat-div">
  <div class="grid">
    <div class="col-6">
      <p class="font-24">Room Chat</p>
    </div>
    <div class="col-6" style="display: flex; flex-direction: row-reverse">
      <button
        pButton
        class="p-button-rounded small-button"
        style="height: 40px"
        (click)="onShowPlaylistClick()"
      >
        <p class="font-20">Playlist</p>
      </button>
    </div>
  </div>
  <table *ngIf="chatlog != null" class="flex flex-column room-chat">
    <tr
      *ngFor="let msg of chatlog"
      [ngClass]="msg.email == userInfo.email ? 'userMessage' : ''"
    >
      <div *ngIf="msg.type == 'JOIN' || msg.type == 'LEAVE'" class="chat-msg">
        <td colspan="3">
          <p class="font-12">{{ msg.message }}</p>
        </td>
      </div>
      <div *ngIf="msg.type != 'JOIN' && msg.type != 'LEAVE'">
        <div style="margin-top: 0px">
          <td class="chat-badge-td">
            <p-badge
              value="{{ msg.email }}"
              (click)="showUserDialog(msg.email)"
            ></p-badge>
          </td>
          <td class="chat-msg-td">
            <p class="font-12" style="margin: 0 1vw">
              {{ msg.message }}
            </p>
          </td>
        </div>
      </div>
    </tr>
  </table>
</div>

<div style="margin-top: 1vh; margin-bottom: 60px">
  <form [formGroup]="chatForm" (ngSubmit)="onSubmitMessage()">
    <table>
      <tr class="textwrapper">
        <div>
          <textarea pInputTextarea formControlName="message"></textarea>
          <div class="flex flex-row-reverse">
            <button
              pButton
              class="p-button-rounded small-button"
              type="submit"
              style="margin-top: -40px; margin-right: 5px"
            >
              Send
            </button>
          </div>
        </div>
      </tr>
    </table>
  </form>
</div>

<!-- User Profile Dialog -->

<app-user-dialog-info
  [email]="selectedUserEmail"
  (closeDialog)="closeUserDialog()"
></app-user-dialog-info>
