<p>TODO: Friends</p>
<div>
  <table>
    <tr *ngFor="let friend of friendsInfo | keyvalue">
      <td>
        <p-badge
          value="{{ friend.key }}"
          (click)="showDialog(friend.key)"
        ></p-badge>
      </td>
      <td>Online: {{ friend.value.isOnline }}</td>
    </tr>
  </table>
</div>
<!-- User Profile Dialog -->
<div class="card flex justify-content-center" *ngIf="dialogInfo != null">
  <p-dialog
    header="{{ dialogInfo.email }}"
    [(visible)]="dialogVisible"
    [style]="{ width: '75vw' }"
  >
    <p>Info Here for {{ dialogInfo.email }}</p>
    <p>Online: {{ dialogInfo.isOnline }}</p>
    <p>Location: {{ dialogInfo.location }}</p>
    <button pButton [disabled]="true">Add Friend</button>
  </p-dialog>
</div>
