.friends-div {
  width: 372px;
  height: 162px;
  border-radius: 8px;
  background-size: 100% 100%;
  background-image: url('data:image/svg+xml,<svg width="372" height="162" viewBox="0 0 353 162" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M117 1.0003L26 1.0003C12.1929 1.0003 1 12.1932 1 26.0003L1.00001 136C1.00001 149.807 12.1929 161 26 161L327 161C340.807 161 352 149.807 352 136L352 81.0003C352 67.1932 340.807 56.0003 327 56.0003L167 56.0003C153.193 56.0003 142 44.8074 142 31.0003L142 26.0003C142 12.1932 130.807 1.0003 117 1.0003Z" fill="%23A4A4A4" stroke="white"/></svg>');
  margin-bottom: 0.5vh;
}
